{{>layouts/header}}
    <!--테스트용 코드 > 위에 템플릿 변수 경로 지정은 반드시 templates 폴더를 기준으로 잡는듯 함(리액트마냥 현재 파일 위치 기준이 아님)-->
    <div class="bg-dark text-white p-5">
        <h1>{{nickname}}님 다음에 또 만나유!</h1>
    </div>
{{>layouts/footer}}